<script>
    // 雪花字符
    const snowflakes = ["⛄", "❄", "❅", "❉", "✥"];
    // 雪花创建函数
    function createSnowflake() {
        const snowflake = document.createElement("span");
        snowflake.classList.add("snowflake");
        const randomIndex = Math.floor(Math.random() * snowflakes.length);
        snowflake.textContent = snowflakes[randomIndex];

        // 雪花的初始位置
        snowflake.style.left = `${Math.random() * 100}vw`;
        snowflake.style.top = '0px';
        // 雪花的大小与透明度
        const size = Math.random() * 18 + 10;
        snowflake.style.fontSize = `${size}px`;
        snowflake.style.opacity = Math.random() * 0.6 + (size > 18 ? 0.4 : 0);
        // 雪花下落、左右摆动和旋转动画的持续时间
        const translateYDuration = Math.random() * 20 + 5;
        const translateXDuration = Math.random() * 5 + 2;
        const rotationDuration = Math.random() * 3 + 1;
        const accumulateDuration = 10;

        // 动画开始时间
        let startTime = null;
        // 更新雪花位置和旋转状态的函数
        function update(timestamp) {
            if (!startTime) startTime = timestamp;
            
            // 计算动画的进度
            const progress = (timestamp - startTime) / 1000;
            // 计算雪花下落、左右摆动和旋转的位置
            let translateY = (progress / translateYDuration) * 2000;
            const translateX = Math.sin((progress / translateXDuration) * Math.PI) * 100;
            const rotation = (progress / rotationDuration) * 360;

            // 当雪花到达屏幕底部时，使其停留并逐渐消失
            if (translateY + snowflake.offsetHeight > window.innerHeight) {
                translateY = window.innerHeight - snowflake.offsetHeight;

                if (progress > translateYDuration + accumulateDuration) {
                    snowflake.remove();
                    return;
                }
            }

            // 更新雪花的位置和旋转状态
            snowflake.style.transform = `translateY(${translateY}px) translateX(${translateX}px) rotate(${rotation}deg)`;

            // 如果动画尚未完成，继续请求下一帧
            if (progress < translateYDuration + accumulateDuration) {
                requestAnimationFrame(update);
            } else {
                snowflake.remove();
            }
        }
        // 请求动画帧以开始更新雪花状态
        requestAnimationFrame(update);

        // 将雪花元素添加到文档中
        document.body.appendChild(snowflake);
    }

    // 控制雪花生成速度的参数 (毫秒)
    const snowflakeCreationInterval = 250;

    // 动画启动函数
    function snowfallAnimation() {
        // 载入时若边栏是隐藏状态则不加载雪花
        const sidebarnav = document.querySelector('.sidebar');
        const sidebarnavdisplay = window.getComputedStyle(sidebarnav).getPropertyValue('display'); 
        if (sidebarnavdisplay !== 'none') {
            createSnowflake();
        }
        setTimeout(() => requestAnimationFrame(snowfallAnimation), snowflakeCreationInterval);
    }

    // 请求动画帧以循环创建雪花效果
    requestAnimationFrame(snowfallAnimation);
</script>