<script>
    // Cookies Policy
    document.addEventListener("DOMContentLoaded", function() {
    // Check if 'acknowledged' flag is set in localStorage
    if (localStorage.getItem('cookieAcknowledged') !== 'true') {
        // If not acknowledged, create the notification element
        var cookieNotification = document.createElement('div');
        cookieNotification.setAttribute('id', 'cookieNotification');
        cookieNotification.style.opacity = 0;
        cookieNotification.style.transition = "opacity 0.5s";
        cookieNotification.innerHTML =
            '<div style="position: fixed; bottom: 10px; right: 10px; background-color: rgba(10, 10, 10, 0.7); color: white; padding: 20px; z-index: 1000; box-shadow: 0 2px 5px rgba(0,0,0,0.2);">' +
            '<span>本网站使用 Cookies，以启用评论系统和分析功能。<br />'+
            '<a href="/cookies/" style="color: #9CD9F0;" rel="noopener noreferrer nofollow" target="_blank" >了解更多</a></span>' +
            '<button style="width: 100%; background-color: rgba(240, 85, 136, 0.75); color: white; padding: 10px; border: none; border-radius: 4px; cursor: pointer; font-weight: bold; margin-top:5px; " onclick="acknowledgeCookie()">知道了</button>' +
            '</div>';

        // Append the notification to the body
        document.body.appendChild(cookieNotification);

        // Start the fade-in effect
        setTimeout(function() {
            cookieNotification.style.opacity = 1;
        }, 10);
    }

    // Define the acknowledge function
    window.acknowledgeCookie = function() {
        // Fade out the notification
        var notificationElement = document.getElementById('cookieNotification');
        if (notificationElement) {
            notificationElement.style.opacity = 0;
            // Wait for the transition to finish before removing the element
            setTimeout(function() {
                document.body.removeChild(notificationElement);
            }, 2000);
        }
        // Set the flag in localStorage
        localStorage.setItem('cookieAcknowledged', 'true');
    }
});
</script>