/* Twikoo 表情大小 */
.tk-owo-emotion, .twikoo .OwO-item img {
    width: 4em !important;
}

.OwO .OwO-body{
    max-width: 550px !important;
}

/* 选中文字背景 */
::selection {
    background-color: #424242;
}

/* 导航 MENU 右对齐 */
.menu {
  text-align: right;
}

/*Fancybox 
  移除 Image Caption
  加个边框  
.post-body img {
  margin: 0 auto;
  padding: 3px
  border: 1px solid #ddd;
}*/
.post-body .image-caption {
  display: none;
}

/* 侧栏 Social Link */
.links-of-author a::before{
    display: none;
}

.links-of-author a{
    border-bottom: none;
}

/* 友情链接 */
#links {
    margin-top: 5rem;
}

.links-content {
    margin-top: 1rem;
}

.link-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 可选：控制弹性项之间的水平间距 */
}

.card {
    width: 280px;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 4px;
    transition-duration: 0.15s;
    margin-bottom: 1rem;
    display: flex;
}

/* 鼠标悬浮时效果
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
} */

.card a {
    border: none;
}

.card .ava {
    width: 3rem !important;
    height: 3rem !important;
    margin: 0 !important;
    margin-right: 1em !important;
    border-radius: 4px;
    margin-top: 5px !important;
}

.card .card-header {
    font-style: italic;
    overflow: hidden;
    width: 236px;
}

.card .card-header a {
    font-style: normal;
    color: #2bbc8a;
    font-weight: bold;
    text-decoration: none;
}

.card .card-header a:hover {
    color: #d480aa;
    text-decoration: none;
}

.card .card-header .info {
    font-style: normal;
    color: #a3a3a3;
    font-size: 14px;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
