/* Twikoo 表情大小 */
.tk-owo-emotion, .twikoo .OwO-item img {
    width: 4em !important;
}

.OwO .OwO-body{
    max-width: 550px !important;
}

/* 选中文字背景 */
::selection {
    background-color: #424242;
}

/* 导航 MENU 右对齐 */
.menu {
  text-align: right;
}

/* 侧栏 Social Link */
.links-of-author a::before{
    display: none;
}

.links-of-author a{
    border-bottom: none;
}

/* 友情链接 */
#links {
    margin-top: 5rem;
}

.links-content {
    margin-top: 1rem;
}

.link-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 可选：控制弹性项之间的水平间距 */
}

.card {
    width: 270px;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 4px;
    transition-duration: 0.15s;
    margin-bottom: 1rem;
    display: flex;
}

/* 鼠标悬浮时效果
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
} */

.card a {
    border: none;
}

.card .ava {
    width: 3rem !important;
    height: 3rem !important;
    margin: 0 !important;
    margin-right: 1em !important;
    border-radius: 4px;
    margin-top: 5px !important;
}

.card .card-header {
    font-style: italic;
    overflow: hidden;
    width: 236px;
}

.card .card-header a {
    font-style: normal;
    color: #2bbc8a;
    font-weight: bold;
    text-decoration: none;
}

.card .card-header a:hover {
    color: #d480aa;
    text-decoration: none;
}

.card .card-header .info {
    font-style: normal;
    color: #a3a3a3;
    font-size: 14px;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 提示块圆角 */
.post-body .note{
    border-radius: 0px;
}

.btn {
    border-radius: 0px ;
}

.copy-btn {
    background: #fafafa
}

/* 雪花 */
.snowflake {
    position: fixed;
    pointer-events: none;
    animation-name: snowflakeFallRotate, snowflakeFadeOut;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: white;
    pointer-events: none;
    z-index: -1;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 0 0 5px rgba(255, 255, 255, 0.8);
}

@keyframes snowflakeFallRotate {
    0% {
        transform: translateY(0) translateX(0) rotate(0);
    }
    /* 下落到底部所用时间  
    70% {
        transform: translateY(var(--translateY)) translateX(var(--translateX)) rotate(720deg);
    }
    */
    100% {
        transform: translateY(var(--translateY)) translateX(var(--translateX)) rotate(800deg);
    }
}

@keyframes snowflakeFadeOut {
    0%, 50% {
        opacity: var(--opacity);
    }
    100% {
        opacity: 0;
    }
}
/* 雪花 END */

/* 修改一些主题色 */
.sidebar-toc-active .sidebar-nav-toc, 
.sidebar-overview-active .sidebar-nav-overview,
.sidebar-toc-active .sidebar-nav-toc:hover,
.sidebar-overview-active .sidebar-nav-overview:hover,
.post-toc .nav .active-current > a:hover,
.post-toc .nav .active-current > a,
.sidebar-nav li:hover,
.post-toc .nav .active > a,
.post-body .tabs ul.nav-tabs li.tab.active,
.tabs-comment ul.nav-tabs li.tab.active {
    color: #F05588;
}

.sidebar-toc-active .sidebar-nav-toc,
.sidebar-overview-active .sidebar-nav-overview,
.post-toc .nav .active > a {
    border-bottom-color: #F05588;
}

.post-body .tabs ul.nav-tabs li.tab.active,
.tabs-comment ul.nav-tabs li.tab.active {
    border-top-color: #F05588;
    border-left-color: white;
}

/* 修改一些主题色 END */

/* 添加背景图片 */
body {
    position: relative;
    background: url("/images/grid-black.svg") fixed;
    background-size: 100px 100px;
}

.sidebar {
    opacity: 0.85;
}
.header, .main-inner {
    background-color: rgba(255,255,255,0.8)!important;
}
.menu-item a:hover, .menu-item a.menu-item-active {
    background-color: rgba(150,150,150,0);
}
.main-menu .menu-item-active::after {
    background: #F05588;
    border-radius: 0;
}
.site-brand-container {
    background-color: rgba(0,0,0,0.75);
}

/* For DarkMode */
if (hexo-config('darkmode')) {
    @media (prefers-color-scheme: dark){
        body {
            position: relative;
            background: url("/images/grid.svg") fixed;
            background-size: 100px 100px;
        }
        /* 侧栏、主体添加透明 */
        .sidebar {
            opacity: 0.8;
        }
        .header, .main-inner {
            background-color: rgba(28, 28, 28, 0.75)!important;
        }
        .site-brand-container {
            background-color: rgba(0,0,0,0.5);
        }

       .copy-btn {
            color: white;
            background: #1c1b1b;
       }
    }

}

/* 代码块折叠 */
.code-hidden {
    display: none;
}
